*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    width: 100%;
    height: 100vh;

    
    
    
   
    
}

.logo{
  
    width: 600px;
    padding: 20px;
   
}

.nav-items{
    width: 450px;
    padding: 20px;
    margin: 20px;
    
}

.nav-items input{
    border-radius: 20px;
    padding: 5px;
    
}



.nav-items form{
   display: inline;
   
}


.left
{
    padding: 30px;
    height: 100vh;
    margin: 0 auto;
   
}


.left img{
    width: 80px;
    border-radius: 14px;
  
}

.left p{
    font-size: 25px;
    font-weight: 400;
    font-family: calibri;
   
}


.right{
    display: block;
    width: 100%;
    
}


.conte li{
    list-style: none;
    padding: 15px;
    font-size: 25px;
    font-weight: 200;
    font-family: calibri;
}

.conte img{
    width: 40px;
    padding: 20px;
    background: green;
}


.logo p{

    display: inline-block;

}


.nav{
    display: flex;
   
    width: 1000px;
    margin: 0 auto;

}

.nav img{
    width: 40px;
}




.navBar{
    height: 80px;
    
  
}






.read{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}


.books{
    display: flex;
    width: 800px;
    padding: 10px;
    margin: 0 auto;
   
}



.books .card{
    width: 400px;
    padding: 30px;
    background-color: aquamarine;
   
    
}


.books .card img{
    width: 80px;
   
    padding-top: 20px;
    padding-left: 10px;
   
}



























.loginForm{
   
   
    
}

.loginForm h1{
   
    text-align: center;
    text-transform: uppercase;
}

form{
    width: 600px;
    margin: 0 auto;
}

.loginForm input{
    width: 300px;
    display: block;
    
    padding-bottom: 10px;
    margin: 20px;
    
}






